.oui.selected,
button.oui.selected:focus {
  border: 2px solid blue !important;
}


input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  appearance: none;
  height: 18px;
  width: 18px;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #333;
}

input[type="checkbox"]:checked::before {
  content: '\2713';
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #fff;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}


label {
  cursor: pointer;
}
